{% extends "base.twig" %}
{% from "components.twig" import pagination %}

{% block main %}
<nav>
    <ul>
        <li>
            <hgroup role="heading">
                <h3>Atividades</h3>
                <p>Total: {{ total }} atividades</p>
            </hgroup>
        </li>
    </ul>
    <ul>
        <li>
            <form role="search">
                <input type="search" name="nome" value="{{ nome }}" placeholder="Nome">
                <input type="submit" value="Buscar">
            </form>
        </li>
    </ul>
</nav>
{% for inicial, atividades in data %}
<h4>{{ inicial }}</h4>
<hr />
<ul>
    {% for atividade in atividades %}
    <li>{{ atividade.nome }}</li>
    {% endfor %}
</ul>
{% endfor %}
{{ pagination(links) }}
{% endblock %}