{% extends "base.twig" %}
{% from "macros.twig" import pagination %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Atividades</h3>
                    <p>Total: {{ total }} atividades</p>
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                <form role="search" style="margin-bottom: 0.5rem;">
                    <input type="search" name="nome" value="{{ nome }}" placeholder="Nome">
                    <input type="submit" value="Buscar">
                </form>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            {% if hasPermission('cadastrar_atividades') %}
            <li>
                <a href="{{ route('cadastrar_atividade') }}" role="button">&CirclePlus; Cadastrar</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</section>
{% for inicial, atividades in data %}
<h4>{{ inicial }}</h4>
<hr />
<ul>
    {% for atividade in atividades %}
    <li>
        {{ atividade.nome }}
        {% if hasPermission('editar_atividades') %}
        <a href="{{ route('editar_atividade', atividade.id) }}" title="Editar atividade">&#9998;</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Não há atividades</p>
{% endfor %}
{{ pagination(links) }}
{% endblock %}