{% macro main_menu(links) %}
<ul>
    {% for label, href in links %}
    <li>
        {% if CURRENT_URI starts with href %}
        <a href="{{ href }}" aria-current="true"><strong>{{ label }}</strong></a>
        {% else %}
        <a href="{{ href }}" aria-current="false">{{ label }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro pagination(links) %}
<nav>
    <span aria-hidden="true"><!-- placeholder --></span>
    <div>
        {% for link in links %}
        {% set label = loop.first ? '&larr; Anterior' : (loop.last ? 'Próxima &rarr;' : link.label) %}
        <a {{ attr({
            href: link.url ?: 'javascript:;',
            class: link.active ? '' : 'outline',
            role: 'button',
            disabled: link.active or not link.url,
        })|raw }}>{{ label|raw }}</a>
        {% endfor %}
    </div>
    <span aria-hidden="true"><!-- placeholder --></span>
</nav>
{% endmacro %}

{% macro opt(label, value, default_value) %}
<option {{ attr({
    value,
    selected: value == default_value,
})|raw }}>{{ label }}</option>
{% endmacro %}

{% macro group(label, options, default_value) %}
<optgroup label="{{ label }}">
    {% for value, label in options %}
    {{ _self.opt(label, value, default_value) }}
    {% endfor %}
</optgroup>
{% endmacro %}

{% macro select(label, name, options = [], default_value = '') %}
{% set default_value = OLD[name] ?? default_value %}
{% set is_invalid = name in (ERRORS|keys) %}
<select name="{{ name }}" aria-label="{{ label }}" aria-invalid="{{ is_invalid ? 'true' : '' }}">
    {% if label %}
    <option {{ attr({
        value: '',
        selected: not default_value,
    })|raw }}>{{ label }}</option>
    <option disabled>------</option>
    {% endif %}
    {% for value, label in options %}
    {{ label is iterable ? _self.group(value, label, default_value) : _self.opt(label, value, default_value) }}
    {% endfor %}
</select>
{% if is_invalid %}
<small>{{ ERRORS[name] }}</small>
{% endif %}
{% endmacro %}

{% macro input(type, placeholder, name, value = '') %}
{% set value = OLD[name] ?? value %}
{% set is_invalid = name in (ERRORS|keys) %}
<input {{ attr({
    type,
    name,
    value,
    placeholder,
    'aria-invalid': is_invalid ? 'true' : '',
})|raw }} />
{% if is_invalid %}
<small>{{ ERRORS[name] }}</small>
{% endif %}
{% endmacro %}

{% macro textarea(placeholder, name, value = '') %}
{% set value = OLD[name] ?? value %}
{% set is_invalid = name in (ERRORS|keys) %}
<textarea {{ attr({
    name,
    placeholder,
    rows: 10,
    'aria-invalid': is_invalid ? 'true' : '',
})|raw }}>{{ value }}</textarea>
{% if is_invalid %}
<small>{{ ERRORS[name] }}</small>
{% endif %}
{% endmacro %}