{% from "macros.twig" import checkbox, input, select %}

<fieldset class="grid">
    <label>
        Nome
        {{ input('text', 'Nome', 'nome', usuario.nome ?? '') }}
    </label>
    <label>
        Email
        {{ input('email', 'Email', 'email', usuario.email ?? '') }}
    </label>
    {% if usuario is not defined %}
    <label>
        Senha
        {{ input('password', 'Senha', 'senha') }}
    </label>
    {% endif %}
</fieldset>
{% if roles is defined and hasPermission('atribuir_role') %}
<fieldset>
    <label>
        Role
        {{ select(null, 'role', roles, usuario.role.value ?? '') }}
    </label>
</fieldset>
{% endif %}
{% if permissions is defined and hasPermission('atribuir_permissoes') %}
<fieldset>
    <legend>Permissions</legend>
    {{ checkbox('permissions', permissions, usuario.permissions ?? []) }}
</fieldset>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        const inputRole = document.querySelector('select[name="role"]')

        if (inputRole) {
            inputRole.addEventListener('change', async function () {
                const response = await fetch(`{{ route("role_permissions", "${this.value}") }}`)
                const defaultPermissions = await response.json()
                const userPermissions = JSON.parse('{{ (usuario.permissions ?? [])|json_encode|raw }}')
                const inputPermissions = document.querySelectorAll('input[name="permissions[]"]')

                inputPermissions.forEach(function (input) {
                    const permission = input.value
                    const isDefault = defaultPermissions.includes(permission)
                    const isUserPermission = userPermissions.includes(permission)

                    Object.assign(input, {
                        ariaDisabled: isDefault,
                        checked: isDefault || isUserPermission,
                        disabled: isDefault,
                    })
                })
            })

            inputRole.dispatchEvent(new Event('change'))
        }
    })
</script>
{% endif %}
