{% extends "base.twig" %}
{% from "macros.twig" import pagination, select %}

{% block main %}
<hgroup role="heading">
    <h3>Disciplinas</h3>
    <p>Total: {{ total }} disciplinas</p>
</hgroup>
<nav>
    <ul>
        {% if hasRole('administrador', 'contribuidor') %}
        <li>
            <a href="{{ url('/disciplinas/cadastrar') }}" role="button">&CirclePlus; Cadastrar</a>
        </li>
        {% endif %}
    </ul>
    <ul>
        <li>
            <form role="search" style="margin-bottom: 0.5rem;">
                <input type="search" name="nome" value="{{ nome }}" placeholder="Nome">
                {{ select('Período', 'periodo_id', periodos, periodo_id) }}
                <input type="submit" value="Buscar">
            </form>
        </li>
    </ul>
</nav>
{% for grupo in data|batch(3, '') %}
<div class="grid">
    {% for inicial, disciplinas in grupo %}
    {% if disciplinas %}
    <div>
        <h4>{{ inicial }}</h4>
        <hr />
        <ul>
            {% for disciplina in disciplinas %}
            <li>
                <strong>{{ disciplina.nome }}</strong>
                {% if hasRole('administrador', 'contribuidor') %}
                <a href="{{ url('/disciplinas/{id}/editar', {id: disciplina.id}) }}" title="Editar disciplina">&#9998;</a>
                {% endif %}
                <br />
                {% if periodo_id %}
                <small>{{ disciplina.periodo.ano }}.{{ disciplina.periodo.semestre }}</small>
                {% else %}
                <a href="{{ url('/disciplinas', {periodo_id: disciplina.periodo_id}) }}">
                    <small>{{ disciplina.periodo.ano }}.{{ disciplina.periodo.semestre }}</small>
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <span aria-hidden="true"><!-- placeholder --></span>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>Não há disciplinas cadastradas</p>
{% endfor %}
{{ pagination(links) }}
{% endblock %}