{% extends "base.twig" %}
{% from "macros.twig" import pagination, select %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Agendamentos</h3>
                    <p>Existem {{ total }} agendamentos previstos</p>
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                <form role="search">
                    {{ select('Período', 'periodo_id', periodos, periodo_id) }}
                    {{ select('Atividade', 'atividade_id', atividades, atividade_id) }}
                    {{ select('Disciplina', 'disciplina_id', disciplinas, disciplina_id) }}
                    <input type="submit" value="Filtrar" />
                </form>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            {% if hasPermission('manter_agendamentos') %}
            <li>
                <a href="{{ url('/agendamentos/cadastrar') }}" role="button">&CirclePlus; Cadastrar</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</section>
<table class="striped">
    <thead>
        <tr>
            <th width="200px" scope="col">Atividade</th>
            <th width="auto" scope="col">Conteúdo</th>
        </tr>
    </thead>
    <tbody>
        {% for agendamento in data %}
        <tr style="vertical-align: top">
            <td>
                <span title="{{ agendamento.data|date('Y-m-d') }}">{{ agendamento.data|date('d/m') }}</span><br />
                <strong>{{ agendamento.disciplina.nome|upper }}</strong><br />
                <small>{{ agendamento.atividade.nome }}</small>
            </td>
            <td>
                {{ agendamento.conteudo }}<br />
                {% if hasPermission('manter_agendamentos') %}
                <a href="{{ url('/agendamentos/{id}/editar', {id: agendamento.id}) }}">
                    <small>&#9998; Editar</small>
                </a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">Não há agendamentos previstos</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination(links) }}
{% endblock %}