{% extends "base.twig" %}
{% from "macros.twig" import pagination, select %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Agendamentos</h3>
                    <p>Existem {{ total }} agendamentos previstos</p>
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                <form role="search">
                    {{ select('Período', 'periodo_id', periodos, periodo_id) }}
                    {{ select('Atividade', 'atividade_id', atividades, atividade_id) }}
                    {{ select('Disciplina', 'disciplina_id', disciplinas, disciplina_id) }}
                    <input type="submit" value="Filtrar" />
                </form>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            {% if hasPermission('cadastrar_agendamentos') %}
            <li>
                <a href="{{ route('cadastrar_agendamento') }}" role="button">&CirclePlus; Cadastrar</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</section>
<div id="calendar-container" data-events="{{ agendamentos|json_encode }}">
    <dialog>
        <article aria-busy="true"></article>
    </dialog>
</div>
{% endblock %}

{% block styles %}
<style>
    #calendar-container table {
        margin-bottom: 0;

        & .fc-col-header-cell-cushion,
        & .fc-daygrid-day-number {
            color: var(--pico-muted-color);
            text-decoration: none;
        }
    }
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6/index.global.min.js"></script>
<script src="{{ asset('/js/fullcalendar.js') }}"></script>
{% endblock %}