{% extends "base.twig" %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>{{ agendamento.atividade.nome }}: {{ agendamento.disciplina.nome }}</h3>
                    <p>{{ agendamento.data|date('d/m/Y') }}</p>
                </hgroup>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="{{ route('agendamentos') }}">&larr; Voltar para agendamentos</a>
            </li>
        </ul>
        <ul>
            {% if hasPermission('editar_agendamentos') %}
            <li>
                <a href="{{ route('editar_agendamento', agendamento.id) }}">&#9998; Editar</a>
            </li>
            {% endif %}
            {% if hasPermission('excluir_agendamentos') %}
            <li>{% include "agendamentos/excluir.twig" %}</li>
            {% endif %}
        </ul>
    </nav>
</section>
<section>{{ agendamento.conteudo|markdown_to_html }}</section>
{% if agendamento.anexos.count() %}
<section>
    <p><strong>Anexos:</strong></p>
    <ul>
        {% for anexo in agendamento.anexos %}
        <li>
            {{ anexo.nome_original }} ({{ anexo.tamanho }})
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock %}