{% extends "base.twig" %}
{% from "macros.twig" import input %}

{% block main %}
<section>
    <nav>
        <ul>
            <li>
                <hgroup role="heading">
                    <h3>Login</h3>
                    <p>Insira suas credenciais para continuar o acesso.</p>
                </hgroup>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <a href="{{ route('agendamentos') }}">&larr; Voltar para agendamentos</a>
            </li>
        </ul>
    </nav>
</section>
<form action="{{ route('submit_login') }}" method="post">
    <fieldset class="grid">
        <label>
            Email
            {{ input('email', 'Email', 'email') }}
        </label>
        <label>
            Senha
            {{ input('password', 'Senha', 'senha') }}
        </label>
    </fieldset>
    <input type="hidden" name="_csrf_token" value="{{ CSRF_TOKEN }}" />
    <input type="submit" value="&#128272; Entrar">
</form>
<p>
    Não tem cadastro?
    <a href="{{ route('cadastro')}}">Cadastre-se</a>
</p>
<p>
    Esqueceu a senha?
    <a href="{{ route('recuperar_senha')}}">Recuperar senha</a>
</p>
{% endblock %}