{% extends "base.twig" %}
{% from "macros.twig" import pagination %}

{% block main %}
<hgroup role="heading">
    <h3>Períodos</h3>
    <p>Total: {{ total }} períodos</p>
</hgroup>
<nav>
    <ul>
        <li>
            <a href="{{ url('/periodos/cadastrar') }}" role="button">&CirclePlus; Cadastrar</a>
        </li>
    </ul>
    <ul>
        <li>
            <form role="search" style="margin-bottom: 0.5rem;">
                <input type="search" name="q" value="{{ q }}" placeholder="Ano ou semestre">
                <input type="submit" value="Buscar">
            </form>
        </li>
    </ul>
</nav>
{% for periodos in data|batch(3, '') %}
<div class="grid">
    {% for periodo in periodos %}
    {% if periodo %}
    <article>
        <header style="--pico-nav-element-spacing-vertical: 0;">
            <nav>
                <ul>
                    <li>
                        <strong>{{ periodo.ano }}.{{ periodo.semestre }}</strong><br />
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ url('/periodos/{id}/editar', {id: periodo.id}) }}">
                            <small>&#9998; Editar</small>
                        </a>
                    </li>
                    <li>{% include "periodos/excluir.twig" %}</li>
                </ul>
            </nav>
        </header>
        <ul>
            <li>
                <a href="{{ url('/agendamentos', {periodo_id: periodo.id}) }}" title="Ver agendamentos do período">
                    {{ periodo.agendamentos_count }} agendamentos
                </a>
            </li>
            <li>
                {{ periodo.disciplinas_count }} disciplinas:
                <ul>
                    {% for disciplina in periodo.disciplinas %}
                    <li>{{ disciplina.nome }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </article>
    {% else %}
    <span aria-hidden="true"><!-- placeholder --></span>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>Não há períodos cadastrados</p>
{% endfor %}
{{ pagination(links) }}
{% endblock %}